BasedOnStyle: LLVM
ColumnLimit: 120

Language: Cpp
TabWidth: 4
IndentWidth: 4
UseTab: Never
NamespaceIndentation: All
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
IndentPPDirectives: BeforeHash
IncludeBlocks: Regroup
BinPackArguments: false
BinPackParameters: false
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 0
SpaceAfterTemplateKeyword: false
