/build
/bin
/.vscode
/assets/models/*/
/assets/models/*.glb
/assets/models/*.gltf
/assets/logos
/assets/textures
/assets/gltf-process
/assets/gltf-process.exe
/assets/shaders
/assets/cache
/assets/util/jsonlint_err.json
/tests/cppcheck-result.txt
/tests/valgrind-out.txt*
/vendor/lib
/strayphotons
/strayphotons.zip
/shaders/**/*.spv
/rust/target
