/build
/bin
/.vscode
/assets/gltf-process
/assets/gltf-process.exe
/assets/shaders
/assets/audio/Metadata
/assets/audio/Plugins
/assets/audio/.cache
/assets/audio/.user
/assets/cache
/assets/models/**/*.blend1
/assets/util/jsonlint_err.json
/tests/cppcheck-result.txt
/tests/valgrind-out.txt*
/vendor/lib
/strayphotons
/strayphotons.zip
