[submodule "ext/cxxopts"]
	path = ext/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/frustra/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/gltf-pipeline"]
	path = ext/gltf-pipeline
	url = https://github.com/AnalyticalGraphicsInc/gltf-pipeline.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/frustra/imgui.git
[submodule "ext/linenoise"]
	path = ext/linenoise
	url = https://github.com/frustra/linenoise.git
[submodule "ext/microtar"]
	path = ext/microtar
	url = https://github.com/rxi/microtar.git
[submodule "ext/obj2gltf"]
	path = ext/obj2gltf
	url = https://github.com/AnalyticalGraphicsInc/obj2gltf.git
[submodule "ext/openvr"]
	path = ext/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "ext/physx"]
	path = ext/physx
	url = https://github.com/frustra/physx-bins.git
[submodule "ext/picojson"]
	path = ext/picojson
	url = https://github.com/frustra/picojson.git
[submodule "ext/robin-hood-hashing"]
	path = ext/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "ext/Tecs"]
	path = ext/Tecs
	url = https://github.com/xthexder/Tecs.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/VulkanMemoryAllocator"]
	path = ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ext/SPIRV-Reflect"]
	path = ext/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "ext/tracy"]
	path = ext/tracy
	url = https://github.com/frustra/tracy.git
[submodule "ext/libsoundio"]
	path = ext/libsoundio
	url = https://github.com/andrewrk/libsoundio
[submodule "ext/resonance-audio"]
	path = ext/resonance-audio
	url = https://github.com/pushrax/resonance-audio
[submodule "ext/libnyquist"]
	path = ext/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/pffft"]
	path = ext/pffft
	url = https://bitbucket.org/jpommier/pffft.git
