/assets/audio/Assets/** filter=lfs diff=lfs merge=lfs -text
/assets/audio/Build/** filter=lfs diff=lfs merge=lfs -text
/vendor/lib/** filter=lfs diff=lfs merge=lfs -text
/ext/fmod/lib/** filter=lfs diff=lfs merge=lfs -text
assets/models/duck/duckCM.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Ceiling_Base_Color.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Ceiling_Height.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Ceiling_Metallic.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Ceiling_Normal.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Ceiling_Roughness.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Exterior_Base_Color.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Exterior_Height.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Exterior_Metallic.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Exterior_Normal.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Exterior_Roughness.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Floor_Base_Color.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Floor_Height.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Floor_Metallic.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Floor_Normal.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Floor_Roughness.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Pillar_Base_Color.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Pillar_Height.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Pillar_Metallic.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Pillar_Normal.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Pillar_Roughness.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Walls_Base_Color.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Walls_Height.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Walls_Metallic.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Walls_Normal.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/Walls_Roughness.png filter=lfs diff=lfs merge=lfs -text
assets/models/pbr-cube/Material_Base_Color.png filter=lfs diff=lfs merge=lfs -text
assets/models/pbr-cube/Material_Height.png filter=lfs diff=lfs merge=lfs -text
assets/models/pbr-cube/Material_Metallic.png filter=lfs diff=lfs merge=lfs -text
assets/models/pbr-cube/Material_Normal.png filter=lfs diff=lfs merge=lfs -text
assets/models/pbr-cube/Material_Roughness.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/background_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/chain_texture_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/lion_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/spnza_bricks_a_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_arch_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_a_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_b_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_c_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_thorn_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_round_bump.png filter=lfs diff=lfs merge=lfs -text
assets/models/level1/level1.spp filter=lfs diff=lfs merge=lfs -text
assets/models/pbr-cube/pbr-cube.spp filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/background.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/chain_texture.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/gi_flag.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/lion.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/spnza_bricks_a_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/spnza_bricks_a_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/spnza_bricks_a_spec_fixed.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_arch_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_arch_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_arch_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_ceiling_a_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_ceiling_a_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_ceiling_a_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_a_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_a_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_a_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_b_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_b_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_b_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_c_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_c_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_column_c_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_curtain_blue_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_curtain_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_curtain_green_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_curtain_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_curtain_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_details_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_details_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_details_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_fabric_blue_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_fabric_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_fabric_green_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_fabric_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_fabric_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_flagpole_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_flagpole_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_flagpole_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_floor_a_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_floor_a_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_floor_a_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_roof_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_thorn_diff.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_thorn_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/sponza_thorn_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_dif.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_hanging.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_plant.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_round_rough.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_round_spec.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/vase_round.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Background_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Background_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Background_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/ChainTexture_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/ChainTexture_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/ChainTexture_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/ChainTexture_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Dielectric_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/gi_flag.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Lion_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Lion_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Lion_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Metallic_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Arch_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Arch_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Arch_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Bricks_a_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Bricks_a_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Bricks_a_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Ceiling_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Ceiling_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Ceiling_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_a_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_a_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_a_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_b_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_b_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_b_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_c_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_c_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_c_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_Blue_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_Blue_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_Green_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_Green_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_Red_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_Red_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Curtain_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Details_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Details_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Details_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Details_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_Blue_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_Blue_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_Green_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_Green_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_Red_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_Red_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Fabric_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_FlagPole_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_FlagPole_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_FlagPole_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Floor_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Floor_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Floor_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Roof_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Roof_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Roof_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Thorn_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Thorn_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Thorn_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Vase_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VaseHanging_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VaseHanging_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VaseHanging_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Vase_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VasePlant_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VasePlant_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VasePlant_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Vase_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VaseRound_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VaseRound_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VaseRound_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Background_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/ChainTexture_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Lion_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Arch_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Bricks_a_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_a_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_b_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Column_c_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Sponza_Thorn_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/Vase_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza-pbr/VaseRound_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Background_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/ChainTexture_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Lion_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Arch_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Bricks_a_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_a_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_b_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_c_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Thorn_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Vase_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VaseRound_height.png filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Background_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Background_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Background_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/ChainTexture_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/ChainTexture_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/ChainTexture_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/ChainTexture_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Dielectric_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Lion_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Lion_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Lion_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Metallic_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Arch_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Arch_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Arch_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Bricks_a_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Bricks_a_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Bricks_a_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Ceiling_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Ceiling_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Ceiling_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_a_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_a_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_a_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_b_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_b_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_b_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_c_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_c_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Column_c_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_Blue_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_Blue_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_Green_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_Green_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_Red_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_Red_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Curtain_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Details_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Details_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Details_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Details_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_Blue_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_Blue_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_Green_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_Green_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_metallic.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_Red_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_Red_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Fabric_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_FlagPole_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_FlagPole_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_FlagPole_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Floor_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Floor_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Floor_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Roof_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Roof_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Roof_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Thorn_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Thorn_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Sponza_Thorn_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Vase_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VaseHanging_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VaseHanging_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VaseHanging_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Vase_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VasePlant_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VasePlant_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VasePlant_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/Vase_roughness.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VaseRound_diffuse.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VaseRound_normal.tga filter=lfs diff=lfs merge=lfs -text
assets/models/sponza/VaseRound_roughness.tga filter=lfs diff=lfs merge=lfs -text
